html, body{
	height: 100%;
}

h1{
	color: green;
}

.dm-banner-canvas{
	height: 90%;
	position:relative;
	
	.banner-canvas{
		width: 100%;
		height: 100%;
		display: block;
	}
	
	canvas{
		display: block; 
	}
	
	.banner-layer,.layer-canvas{
		position: absolute;
		bottom: 0;
		height: auto;
		min-height: 100px;
		width: 100%;
	}
}
